@import 'utils/all';
@import 'containers/all';
@import 'components/all';

body {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.03em;
	color: $dark-blue;
}

a {
	text-decoration: none;
	color: inherit;
}


h1, h2, h3, h4, h5, h6 {
	letter-spacing: 0.05em;
}

p {
	font-family: 'Poppins', sans-serif;
	letter-spacing: 0.02em;
	font-size: 14px;
	line-height: 1.5em;
}

input, textarea {
	border-bottom: 4px solid $off-white;
	padding: 15px 0;
	transition: 0.1s;
	width: 100%;
	color: lighten($dark-blue, 20%);
	font-family: 'Poppins', sans-serif;
	&:focus {
		outline: none;
		border-bottom-color: transparentize($green, 0.3);
		color: $dark-blue;
	}
}

textarea {
	border: 2px solid $off-white;
	padding: 10px;
	margin: 20px 0;
	height: 250px;
	font-family: 'Poppins', sans-serif;
	border-bottom: 4px solid $off-white;
	resize: none;
}

button:focus {
	outline:0;
}

.highlight {
	background-color: transparentize($orange, 0.7);
	padding: 0 3px;
}

.input-label {
	color: $light-gray;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 50px;
}