.side-navigation {
	background-color: $white;
	margin: 20px 5% 20px 10%;
	width: 200px;
	letter-spacing: 0.08em;
	.link:hover {
		color: lighten($dark-blue, 20%);
	}
	h5 {
		margin-left: 25px;
	}
	.disclaimer {
		color: $light-gray;
	}
}

.nav-category-wrapper {

}